.home {
  width: 90rem;
  background-color: #FEFAEF;
}

.landing {
  display: flex;
}

.landing-day-cream,
.landing-night-cream {
  position: relative;
  width: 100%;
  height: auto;
}

.landing-day-cream img,
.landing-night-cream img {
  width: 45rem;
  height: 39.37rem;
}

.landing-text {
  color: #000;
  text-align: center;
  font-family: Baskerville;
  font-size: 2.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
}

.product {
  display: flex;
  margin-right: 2.5rem;
  margin-left: 8.94rem;
  margin-bottom: 3.12rem;
}

.product img {
  width: 38.8125rem;
  height: 38.8125rem;
  flex-shrink: 0;
}

.product-info {
  margin-left: 5.99rem;
  margin-top: 7.19rem;
  margin-right: 1rem;
}

.product-info h1 {
  color: #000;
  font-family: Baskerville;
  font-size: 2.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 2.19rem;
}

.product-price,
.product-description {
  color: #000;
  font-family: "Hiragino Mincho Pro";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.product-description {
  margin-top: 0.75rem;
  margin-bottom: 4.44rem;
}

.view-product {
  display: flex;
  width: 18.09563rem;
  height: 4.3125rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--Primary-Color, #382E26);
  color: var(--Primary-Color, #FEFAEF);
  font-family: "Hiragino Mincho Pro";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  line-height: normal;
}

.pharmacist {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background: #334E3D;
  margin-left: 4.63rem;
  margin-right: 4.63rem;
  margin-bottom: 3.12rem;
}

.pharmacist img {
  width: 31.25rem;
  height: 31.25rem;
  padding-right: 2.89rem;
  padding-top: 3.06rem;
  padding-bottom: 1.94rem;
}

.pharmacist-text {
  color: var(--Primary-Color, #FEFAEF);
  font-family: "Hiragino Mincho Pro";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 2.88rem;
  margin-left: 2.75rem;
  margin-right: 9.49rem;
}

.pharmacist-text h1 {
  color: var(--Primary-Color, #FEFAEF);
  font-family: "Bodoni 72";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 2.56rem;
}

.bottom-image {
  margin-bottom: 3.12rem;
}

.bottom-image img {
  height: 40.0625rem;
  width: 100%;
}