.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3285px;
  background: #fefaef;
}

.carousel-container {
  width: 100vw !important;
  /* max-width: 1440px; */
  margin: 0 auto;
  position: relative;
  height: 40.0625rem;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-image.inactive {
  display: none;
}

.carousel-arrow {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-arrow.prev {
  left: 15px;
}

.carousel-arrow.next {
  right: 15px;
}

.carousel-dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: rgba(254, 250, 239, 0.6);
  border: none;
  cursor: pointer;
}

.carousel-dot.active {
  background: white;
}

/* Landing section styles */
.landing-container {
  display: flex;
  position: relative;
}

.landing-text {
  color: var(--color-text);
  text-align: center;
  font-family: var(--font-baskerville);
  font-size: var(--font-size-large);
  font-style: italic;
  margin: 3.12rem 0;
}

/* Signature component styles */
.signature-container {
  display: flex;
  width: 1340px;
  align-items: center;
  gap: 16px;
}

.signature-first-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}

.signature-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.signature-description {
  align-self: stretch;
  color: #000;
  font-family: Baskerville;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.learn-more-button {
  width: 171px;
  height: 52px;
  flex-shrink: 0;
  border: 0px solid #382e26;
  background: #382e26;
  text-decoration: none;
  color: #fffcfa;
  text-align: center;
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.signature-header {
  color: #000;
  font-family: "Bodoni 72";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signature-second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sun-image {
  width: 387px;
  height: 387px;
  flex-shrink: 0;
}

.moon-image {
  width: 388.484px;
  height: 353.327px;
  flex-shrink: 0;
}

/* Product set section styles */
.set-container {
  display: flex;
  align-items: flex-start;
  gap: 142px;
  align-self: stretch;
}

.products-container {
  display: flex;
  width: 990px;
  flex-direction: column;
  align-items: center;
  gap: 110px;
  margin-top: 165px;
}

.set-image {
  width: 410px;
  height: 410px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.set-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.set-header {
  width: 437px;
  color: #382e26;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baskerville;
  font-size: 46px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.set-price-container {
  color: #382e26;
  font-family: "Hiragino Mincho Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.set-second-half {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.set-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.932px;
  align-self: stretch;
}

.set-description-text {
  align-self: stretch;
  color: #000;
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.set-reviews-container {
  display: flex;
  align-items: flex-start;
  gap: 7.166px;
}

.set-reviews {
  color: #000;
  font-family: "Hiragino Mincho Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.set-view-product-button {
  width: 171px;
  height: 52px;
  flex-shrink: 0;
  align-self: flex-end;
  border: 0px solid #382e26;
  background: #382e26;
  text-decoration: none;
  color: #fffcfa;
  text-align: center;
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.set-view-product-button:hover {
  border: 1px solid var(--color-primary);
  background: var(--color-bg);
  color: var(--color-primary);
  cursor: pointer;
}

/* Individual product section styles */
.individual-container {
  display: flex;
  align-items: center;
  gap: 168.822px;
}

.individual-cream-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24.291px;
}

.individual-cream-image {
  width: 410px;
  height: 410px;
}

.individual-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.145px;
  align-self: stretch;
  flex-wrap: wrap;
}

.individual-header {
  flex: 1 0 0;
  color: #382e26;
  font-family: Baskerville;
  font-size: 46px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.individual-price-container {
  color: #382e26;
  font-family: "Hiragino Mincho Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.individual-description {
  display: flex;
  flex-direction: column;
  gap: 19.433px;
}

.star-image {
  width: 13px;
  height: 13px;
}

.reviews {
  color: #382e26;
  font-family: "Hiragino Mincho Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.indiv-size-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 19.762px;
  width: 100%;
  border: none;
  background: transparent;
}

.button-image-ml {
  width: 14.995px;
  height: 15.285px;
  fill: #382e26;
  stroke-width: 1.797px;
  stroke: #382e26;
}

.indiv-size-buttons-container button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.indiv-size-buttons-container svg {
  display: block;
}

.ml-text {
  color: #000;
  font-family: "Hiragino Mincho Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button-ml {
  display: flex;
  align-items: center;
  gap: 4.438px;
}

.view-product-button {
  width: 171px;
  height: 52px;
  flex-shrink: 0;
  align-self: flex-end;
  border: 0px solid #382e26;
  background: #382e26;
  text-decoration: none;
  color: #fffcfa;
  text-align: center;
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.view-product-button:hover {
  border: 1px solid var(--color-primary);
  background: var(--color-bg);
  color: var(--color-primary);
  cursor: pointer;
}

.indiv-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.individual-description-text {
  color: #382e26;
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.individual-reviews-container {
  display: flex;
  align-items: center;
  gap: 6.073px;
}

.stars-container {
  display: flex;
  align-items: center;
}

@media (min-width: 1440px) {
  .shop-container {
    width: 100%;
  }
}
