.AboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  width: 1440px;
  height: 2619px;
  }
  
  .AboutUs-header {
    color: #000;
    text-align: center;
    font-family: Aboreto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .MissionStatement-description {
    color: #000;
    font-family: "Abyssinica SIL";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .MissionStatement-image {
    width: 582px;
    height: 557px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .MissionStatement-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .Founder-image {
    width: 518px;
    height: 518px;
    flex-shrink: 0;
    margin-bottom: 40px;
  }

  .Founder-header {
    color: #000;
    text-align: center;
    font-family: Aboreto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Founder-description {
    color: #000;
    font-family: "Abyssinica SIL";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Founder-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  