.header {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: var(--Secondary-Color, #334e3d);
  height: 86px;
  position: relative;
}

.nav {
  flex: 1;
  margin-left: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #334e3d;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  min-width: 150px;
  z-index: 9999;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  color: var(--Primary-Color, #fefaef);
  text-align: center;
  font-family: "Bodoni 72";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-item {
  color: var(--Primary-Color, #fefaef);
  text-align: center;
  font-family: "Bodoni 72";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.lavan-beauty {
  color: var(--Primary-Color, #fefaef);
  text-align: center;
  font-family: "Luxurious Script";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 9vw;
}

.first-half {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  gap: 60px;
  flex-shrink: 0;
}

.second-half {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  gap: 60px;
}

@media (min-width: 1440px) {
  .header {
    width: 100%;
  }
}
